Description=Redis Server
After=syslog.target

[Service]
Type=forking
User=redis
Group=redis
ExecStart=/usr/local/redis/bin/redis-server /data/redis/etc/server.conf
RestartSec=5s
Restart=on-failure

[Install]
WantedBy=multi-user.target