[Unit]
Description=Influxdb Server
Requires=network-online.target
After=network.target

[Service]
Type=simple
User=influx
Group=influx
ExecStart=/usr/local/influxdb/usr/bin/influxd -config /etc/influxdb/influxdb.conf
PrivateTmp=false

[Install]
WantedBy=multi-user.target
