[Unit]
Description=Redis In-Memory Data Store
After=network.target
 
[Service]
User=lmode
Group=lmode
Type=forking
ExecStart=/home/lmode/soft/redis/bin/redis-server /home/lmode/soft/redis/bin/redis.conf
#ExecStop="/bin/kill -s SIGTERM $MAINPID"
Restart=on-failure
 
[Install]
WantedBy=multi-user.target